In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../csvFiles/exercise.csv")
df.sample(5)

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
7567,16037709,male,46,179,79,17,106,40.4,115
1989,11122624,female,39,174,74,26,106,40.8,159
12060,10317863,female,58,164,63,19,97,40.3,107
10771,16487432,female,30,166,63,19,95,40.1,94
12035,16198653,male,20,192,90,17,104,40.6,92

In [3]:
df.info

<bound method DataFrame.info of         User_ID  Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp  \
0      14733363    male   68     190      94        29         105       40.8
1      14861698  female   20     166      60        14          94       40.3
2      11179863    male   69     179      79         5          88       38.7
3      16180408  female   34     179      71        13         100       40.5
4      17771927  female   27     154      58        10          81       39.8
...         ...     ...  ...     ...     ...       ...         ...        ...
14995  15644082  female   20     193      86        11          92       40.4
14996  17212577  female   27     165      65         6          85       39.2
14997  17271188  female   43     159      58        16          90       40.1
14998  18643037    male   78     193      97         2          84       38.3
14999  11751526    male   63     173      79        18          92       40.5

       Calories
0           231
1            66
2            26
3            71
4            35
...         ...
14995        45
14996        23
14997        75
14998        11
14999        98

[15000 rows x 9 columns]>

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   User_ID     15000 non-null  int64
 1   Gender      15000 non-null  object
 2   Age         15000 non-null  int64
 3   Height      15000 non-null  int64
 4   Weight      15000 non-null  int64
 5   Duration    15000 non-null  int64
 6   Heart_Rate  15000 non-null  int64
 7   Body_Temp   15000 non-null  float64
 8   Calories    15000 non-null  int64
dtypes: float64(1), int64(7), object(1)
memory usage: 1.0+ MB

In [4]:
df.describe()

,User_ID,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
count,1.500000e+04,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000
mean,1.497736e+07,42.789800,174.465133,74.966867,15.530600,95.518533,40.025453,89.539533
std,2.872851e+06,16.980264,14.258114,15.035657,8.319203,9.583328,0.779230,62.456978
min,1.000116e+07,20.000000,123.000000,36.000000,1.000000,67.000000,37.100000,1.000000
25%,1.247419e+07,28.000000,164.000000,63.000000,8.000000,88.000000,39.600000,35.000000
50%,1.499728e+07,39.000000,175.000000,74.000000,16.000000,96.000000,40.200000,79.000000
75%,1.744928e+07,56.000000,185.000000,87.000000,23.000000,103.000000,40.600000,138.000000
max,1.999965e+07,79.000000,222.000000,132.000000,30.000000,128.000000,41.500000,314.000000

In [6]:
df.isnull().sum()

User_ID       0
Gender        0
Age           0
Height        0
Weight        0
Duration      0
Heart_Rate    0
Body_Temp     0
Calories      0
dtype: int64

In [10]:
df.duplicated().sum()

0

In [11]:
df.columns

Index(['User_ID', 'Gender', 'Age', 'Height', 'Weight', 'Duration',
       'Heart_Rate', 'Body_Temp', 'Calories'],
      dtype='object')

In [19]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.pipeline import Pipeline

str_feature = ['Gender']
int_feature = ['Age', 'Height', 'Weight', 'Duration','Heart_Rate', 'Body_Temp']

In [20]:
preprocessor = ColumnTransformer(transformers=[
    ('num',StandardScaler(),int_feature),
    ('cat',OneHotEncoder(),str_feature)])

In [21]:
X = df[int_feature + str_feature]
y = df.Calories

In [22]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=42)

In [24]:
from sklearn.linear_model import LinearRegression
model_linear_reg = Pipeline(steps=[('preprocessor',preprocessor),
                                   ('regressor',LinearRegression())])

model_linear_reg.fit(X_train,y_train)
model_linear_reg.score(X_test,y_test)

0.9672937151257295

In [25]:
from sklearn.ensemble import RandomForestRegressor
model_rand_f = Pipeline(steps=[('preprocessor',preprocessor),
                                   ('regressor',RandomForestRegressor())])

model_rand_f.fit(X_train,y_train)
model_rand_f.score(X_test,y_test)

0.9982082430322248

In [30]:
example_input = [1,28,165,70,45,150,37.2]

model_rand_f.predict(X_test)

array([170.59, 191.79,  53.17, ..., 120.62,  19.6 , 213.78])